$color-orange: #ff8d00;
$color-yellow: yellow;
$color-blue:   #2e83d9;
$color-purple: #56658a;
$color-green:  #0cb863;
$color-red:    #ff0000;
$color-pink:   #c88495;
$color-white:  white;
$color-black:  black;

$color-87: rgba(black, .87);
$color-54: rgba(black, .54);
$color-30: rgba(black, .30);
$color-15: rgba(black, .15);
$color-04: rgba(black, .04);

$color-white-87: rgba(white, .87);
$color-white-54: rgba(white, .54);
$color-white-30: rgba(white, .30);
$color-white-15: rgba(white, .15);
$color-white-04: rgba(white, .04);

$color-87-solid: #212121;
$color-54-solid: #757575;
$color-30-solid: #b2b2b2;
$color-15-solid: #d9d9d9;
$color-04-solid: #f5f5f5;

$color-placeholder: lighten(black, 20%);
$color-placeholder-light: darken(white, 15%);

// Brand-specific colours. Source: http://brandcolors.net.
$color-facebook:     #3b5998;  // unverified
$color-google:       #4285f4;  // unverified
$color-google-plus:  #dd4b39;  // unverified
$color-github:       #4183c4;  // unverified
$color-instagram:    #3f729b;  // unverified
$color-linkedin:     #0976b4;  // unverified
$color-skype:        #00aff0;  // unverified
$color-twitter:      #55acee;  // verified
$color-youtube:      #e52d27;  // partly verified

$color-focus-indicator: rgba($color-blue, 0.4);
$color-focus-indicator-solid: lighten($color-blue, 25%);

$radius-default: 3px;

$z-index-overlay: 500;
$z-index-tooltip: 1000;

$screen-max-width: 960px;
$screen-min-width: 320px;

$width-sm: 480px;
$width-md: 640px;
$width-lg: 800px;

$focus-indicator-thickness: 2px;

$transition-duration: 0.2s;
$transition-function: ease-out;

// WTB better word. Need something short for "semi-transparent".
$lucent-fraction: 0.54;
