.fill-none {
  fill: none;
}

.fill-lightgreen {
  fill: rgba(70, 200, 48, 0.20);
}

.fill-opacity-0x2 {
  fill-opacity: .2;
}

.fill-opacity-0x8 {
  fill-opacity: .8;
}

.stroke-none {
  stroke: none;
}

.stroke-w-1 {
  stroke-width: 1px;
}

.stroke-w-2 {
  stroke-width: 2px;
}
