@import './node_modules/stylebox/scss/stylebox';
@import './node_modules/font-awesome/scss/font-awesome';

$color-white:       #ffffff;
$color-green:       #0db500;
$color-orange:      #ffa200;
$color-red:         #ff4800;
$color-gray-light:  #f1f1f1;
$color-gray-normal: #a9a9a9;
$color-gray-dark:   #2d3032;
$color-blue:        #2e83d9;

@include flex-containers;
@include flex-childs;

@include space(0, 8);

@include color('white',       $color-white);
@include color('green',       $color-green);
@include color('orange',      $color-orange);
@include color('red',         $color-red);
@include color('gray-light',  $color-gray-light);
@include color('gray-normal', $color-gray-normal);
@include color('gray-dark',   $color-gray-dark);

.abs {
  @include position(absolute);
}

@import './spinner';

.shadow {
  @include shadow('gray-light', $color-gray-light, inset);
}

.children-padding-0x5-v > * {
  @extend .padding-0x5-v;
}

.children-padding-1x5-v > * {
  @extend .padding-1x5-v;
}

.children-padding-1-h > * {
  @extend .padding-1-h;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.width-100p {
  width: 100%;
}

.width-50p {
  width: 50%;
}

.input {
  @extend .padding-0x5-v;
  @extend .padding-1-h;
  @extend .shadow-in-gray-light;
  border: 0;
}

.button {
  @extend .padding-0x5-v;
  @extend .padding-1-h;
  @extend .bg-gray-light;
  border: 0;
}

.table-fixed {
  table-layout: fixed;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.relative {
  position: relative;
}
