@mixin margin($val) { margin: $val !important }
@mixin padding($val) { padding: $val !important }
@mixin padding-h($val) { padding-left: $val !important; padding-right: $val !important }
@mixin padding-v($val) { padding-top: $val !important; padding-bottom: $val !important }
@mixin flex-direction($val) { flex-direction: column !important }
@mixin shadow($val) { box-shadow: $val !important }
@mixin hide { display: none }

.grid-1 { @include grid(1) }
.grid-2 { @include grid(2) }
.grid-3 { @include grid(3) }
.grid-4 { @include grid(4) }
.grid-5 { @include grid(5) }

@media screen and (min-width: $width-lg) {
  html { font-size: 16px; }
  .lg-width-50p { width: 50%; }
  .lg-margin-0 { @include margin(0) }
  .lg-grid-3 { @include grid(3) }
  .lg-grid-4 { @include grid(4) }
  .lg-grid-5 { @include grid(5) }
  .lg-hide { @include hide }
  .lg-children-padding-1-h > * { padding-left: 1rem; padding-right: 1rem }
  .lg-rounded-t { border-radius: $radius-default $radius-default 0 0 }
  .lg-mark-l { @include mark-l }
  .lg-mark-b { @include mark-b }
  .lg-busy-mark-l { @include busy { @include mark-l } }
  .lg-busy-mark-b { @include busy { @include mark-b } }
  .lg-row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .lg-row-between-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .lg-children-margin-1-h > :not(:first-child) {
    margin-left: 1rem;
  }
}

@media screen and (min-width: $width-md) and (max-width: $width-lg) {
  html { font-size: 15px; }
  .md-width-100p { width: 100%; }
  .md-margin-0 { @include margin(0) }
  .md-padding-0x5-h { @include padding-h(0.5rem) }
  .md-padding-1-h { @include padding-h(1rem) }
  .md-padding-0x25-v { @include padding-v(0.25rem) }
  .md-padding-0x5 { @include padding(0.5rem) }
  .md-padding-0x5-h { @include padding-h(0.5rem) }
  .md-grid-1 { @include grid(1) }
  .md-grid-2 { @include grid(2) }
  .md-grid-3 { @include grid(3) }
  .md-hide { @include hide }
  .md-children-padding-1-h > * { padding-left: 1rem; padding-right: 1rem }
  .md-rounded-t { border-radius: $radius-default $radius-default 0 0 }
  .md-mark-l { @include mark-l }
  .md-mark-b { @include mark-b }
  .md-busy-mark-l { @include busy { @include mark-l } }
  .md-busy-mark-b { @include busy { @include mark-b } }
  .md-col-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .md-row-between-stretch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .md-children-margin-1-v > :not(:first-child) {
    margin-top: 1rem;
  }
  .md-children-margin-1-h > :not(:first-child) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: $width-md) {
  html { font-size: 15px; }
  .sm-width-100p { width: 100%; }
  .sm-margin-0 { @include margin(0) }
  .sm-padding-0x5-h { @include padding-h(0.5rem) }
  .sm-padding-1-h { @include padding-h(1rem) }
  .sm-children-padding-0x5-h > * { padding-left: 0.5rem; padding-right: 0.5rem }
  .sm-col { @include flex-direction(column) }
  .sm-no-shadow { @include shadow(none) }
  .sm-grid-1 { @include grid(1) }
  .sm-grid-2 { @include grid(2) }
  .sm-hide { @include hide }
  .sm-mark-l { @include mark-l }
  .sm-mark-b { @include mark-b }
  .sm-busy-mark-l { @include busy { @include mark-l } }
  .sm-busy-mark-b { @include busy { @include mark-b } }
  .sm-col-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sm-children-margin-1-v > :not(:first-child) {
    margin-top: 1rem;
  }
}
