html {
  @include font-base($family: $font-family);
  color: $color-fg;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

@include flex-containers;

@include flex-childs;

@include space(0, 8);

.abs {
  @include position(absolute);
}

.fix {
  @include position(fixed);
}

.width {
  @include sizing(width, 0, 16);
}

.rounded {
  @include rounding($radius-default);
}

@include layout(
  $width-min-screen: $width-min-screen,
  $width-max-screen: $width-max-screen,
  $width-md:         $width-md
);

@include spinner($color-fg: $color-blue);

@include tooltip(
  $z-index:       $z-index-tooltip,
  $color-bg:      $color-black-87,
  $color-fg:      $color-white,
  $color-bg-warn: $color-red
);

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  color: $color-link;
  &:hover {
    color: darken($color-link, 20%);
  }
}

.font-semibold {
  font-weight: 500;
}
