/*
Calculations assume r='1em':
<circle className='spinner--circle' r='1em' />
*/

$spinner-radius: 1em;
$spinner-perimeter: 2 * 3.141592653589793 * $spinner-radius;

// Requires `{position: relative}` on ancestor.
.spinner {
  @extend .abs-fit;
  display: inline-block;
  z-index: 1;
}

.spinner svg {
  @extend .abs-center;
}

.spinner--circle, .spinner--circle-autospin {
  fill: transparent;
  stroke: $color-blue;
  stroke-width: 2;
}

.spinner--circle-autospin {
  stroke-dasharray: ($spinner-perimeter / 2) ($spinner-perimeter / 2);
  stroke-dashoffset: $spinner-perimeter / 4;
  animation: circleAnimation 2s infinite;
}

// Makes a full circle, returning to the same position.
@keyframes circleAnimation {
  from {
    stroke-dashoffset: $spinner-perimeter / 4;
  }
  to {
    stroke-dashoffset: -($spinner-perimeter * 3/4);
  }
}
