// TODO cleanup

.fa.fa-facebook     {color: $color-facebook}
.fa.fa-google       {color: $color-google}
.fa.fa-google-plus  {color: $color-google-plus}
.fa.fa-github       {color: $color-github}
.fa.fa-instagram    {color: $color-instagram}
.fa.fa-linkedin     {color: $color-linkedin}
.fa.fa-skype        {color: $color-skype}
.fa.fa-twitter      {color: $color-twitter}
.fa.fa-youtube-play {color: $color-youtube}

@include color-scheme(
  $color-black-04: $color-black-04,
  $color-black-15: $color-black-15,
  $color-black-30: $color-black-30,
  $color-black-54: $color-black-54,
  $color-black-87: $color-black-87,
  $color-white-04: $color-white-04,
  $color-white-15: $color-white-15,
  $color-white-30: $color-white-30,
  $color-white-54: $color-white-54,
  $color-white-87: $color-white-87,
  $color-blue: $color-blue,
  $color-orange: $color-orange,
  $color-white: $color-white,
  $color-black: $color-black,
  $color-green: $color-green,
  $color-red: $color-red,
  $color-placeholder-light: $color-placeholder-light,
  $color-focus-indicator: $color-focus-indicator,
  $color-focus-indicator-solid: $color-focus-indicator-solid
);

@include charts-color-scheme(
  $color-black-15: $color-black-15,
  $color-black-30: $color-black-30,
  $color-black-54: $color-black-54,
  $color-black-87: $color-black-87,
  $color-white: $color-white,
  $color-black: $color-black,
  $color-green: $color-green,
  $color-red: $color-red,
  $color-pink: $color-pink
);

.color-scheme-dark {
  @include color-scheme (
    $color-black-04: rgba(white, .04),
    $color-black-15: rgba(white, .15),
    $color-black-30: rgba(white, .50),
    $color-black-54: rgba(white, .85),
    $color-black-87: rgba(white, .97),
    $color-white-04: darken(#7986CB, 04%),
    $color-white-15: darken(#7986CB, 15%),
    $color-white-30: darken(#7986CB, 30%),
    $color-white-54: darken(#7986CB, 54%),
    $color-white-87: darken(#7986CB, 87%),
    $color-blue: #FE528C,
    $color-orange: $color-orange,
    $color-white: #1F2036,
    $color-black: white,
    $color-green: #2DEBAE,
    $color-red: #FE528C,
    $color-placeholder-light: $color-placeholder-light,
    $color-focus-indicator: lighten($color-focus-indicator, 20%),
    $color-focus-indicator-solid: darken($color-blue, 15%)
  ) {
    a {
      @extend .color-blue;
    }

    .dark-invert {
      filter: invert(90%);
    }
  }

  @include charts-color-scheme (
    $color-black-15: rgba(white, .15),
    $color-black-30: rgba(white, .50),
    $color-black-54: rgba(white, .85),
    $color-black-87: rgba(white, .97),
    $color-white: #1F2036,
    $color-black: white,
    $color-green: #2DEBAE,
    $color-red: #FE528C,
    $color-pink: $color-pink
  );
}
