[aria-label] {
  position: relative;

  &::before,
  &::after {
    display: none;
    position: absolute;
    z-index: $z-index-tooltip;
    pointer-events: none;
    outline: none;
    padding: 0;
    // Negate inherited case transforms, if any.
    text-transform: none;
  }

  &:hover {
    &::before,
    &::after {
      display: block;
    }
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 0.6rem solid transparent;
  }

  &::after {
    content: attr(aria-label);
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    pointer-events: none;
    @extend .rounded;
    @extend .color-white;
    @extend .bg-87;
    @extend .font-1;
  }

  /**
   * Directions
   */

  &:not([class*=aria-label-position]),
  &.aria-label-position-top {
    &::before,
    &::after {
      bottom: 100%;
      right: 50%;
      transform: translateX(50%);
    }

    &::before {
      border-top-color: $color-87;
    }

    &::after {
      @extend .margin-1-b;
    }
  }

  &.aria-label-position-right {
    &::before,
    &::after {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
    }

    &::before {
      border-right-color: $color-87;
    }

    &::after {
      @extend .margin-1-l;
    }
  }

  &.aria-label-position-bottom {
    &::before,
    &::after {
      top: 100%;
      right: 50%;
      transform: translateX(50%);
    }

    &::before {
      border-bottom-color: $color-87;
    }

    &::after {
      @extend .margin-1-t;
    }
  }

  &.aria-label-position-left {
    &::before,
    &::after {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
    }

    &::before {
      border-left-color: $color-87;
    }

    &::after {
      @extend .margin-1-r;
    }
  }
}

[aria-label='']::after, [aria-label='']::before {
  content: none;
}

[aria-label][aria-label-show] {
  &::before,
  &::after {
    display: block;
  }
}

[data-form-label][aria-label]::after {
  background-color: $color-red;
}

[data-form-label][aria-label]::before {
  border-top-color: $color-red;
}
