// TODO rem = 14px
html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// TODO remove
body {
  @extend .font-2;
}

@mixin fa-size ($size: 1) {
  font-size: $size * 14px;
}

.fa {
  @include fa-size;
}

.fa-0x75 {
  @include fa-size(0.75);
}

.fa-1x25 {
  @include fa-size(1.25);
}

.fa-1x5 {
  @include fa-size(1.5);
}

.fa-2x {
  @include fa-size(2);
}

// WTF special case
.fa-chevron-up,
.fa-chevron-right,
.fa-chevron-down,
.fa-chevron-left {
  &::before {
    position: relative;
    top: 0.1em;
  }
}

.font-1 {
  line-height:    1rem;
  font-size:   0.75rem;
}

.font-2 {
  line-height:  1.5rem;
  font-size:  0.875rem;
}

.font-3 {
  line-height:  1.5rem;
  font-size: 0.9375rem;
}

.font-4 {
  line-height:    2rem;
  font-size:   1.25rem;
}

.font-5 {
  line-height:    2rem;
  font-size:    1.5rem;
}

.font-6 {
  line-height:  2.5rem;
  font-size:      2rem;
}

.font-smaller {
  font-size: 0.8em;
}

.font-larger {
  font-size: 1.2em;
}

.font-double {
  font-size: 2em;
}

.semibold {
  font-weight: 600;
}
